@import "themes";
@import "utils";
@import "typography";
@import "textColors";
* {
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

._spacer {
  flex: 1;
}

._pointer {
  cursor: pointer;
}

