@import "themes";

* {
	text-decoration: none;
	text-transform: none;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

._container {
	max-width: 1432px;
	margin: 0 auto;
	padding: 0 16px;
}

._spacer {
	flex: 1;
}

._pointer {
	cursor: pointer;
}
