:root {
  --primary: #5986C2;
  --primary-light: #DDDDFF;
  --secondary: #ff1710;
  --secondary-light: rgba(255, 87, 83, 0.4);
  --titlePrimary: #404040;
  --descriptionSecondary: #5f5f5f;
  --greyBg: #f7f8f8;
  --grey: #666666;
}
