.headingPage {
	font-size: 56px;
	font-weight: 700;
}

.headline {
	font-size: 32px;
	font-weight: 400;
}

.headlineLarge {
	font-size: 32px;
	font-weight: 700;
}

.headlineMedium {
	font-size: 32px;
	font-weight: 500;
}

.title {
	font-size: 18px;
	font-weight: 400;
}

.titleLarge {
	font-size: 18px;
	font-weight: 700;
}

.titleMedium {
	font-size: 18px;
	font-weight: 500;
}

.text {
	font-size: 16px;
	font-weight: 400;
}

.textLarge {
	font-size: 16px;
	font-weight: 700;
}

.textMedium {
	font-size: 16px;
	font-weight: 600;
}

.body {
	font-size: 14px;
	font-weight: 400;
}

.bodyMedium {
	font-size: 14px;
	font-weight: 500;
}

.bodyLarge {
	font-size: 14px;
	font-weight: 700;
}


