h3._moduleTitle {
  color: #404040;
  font-size: 32px;
  font-weight: bold;
  @media (max-width: 768px) {
    font-size: 26px;
  }
}

._secondaryTitle {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

p._moduleDescription {
  font-size: 16px;
  line-height: 1.8;
  color: #5f5f5f;
}

._mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

._desktop {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
